@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Raleway:wght@300&display=swap');

:root{
    --cor:'Cormorant Garamond', serif;
    --rel: 'Raleway', sans-serif;
   --color1: black;
   --color2: white;
   --color3: purple;
   --trans: all 0.2s ease-in-out;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;


}
html{
    font-size: 15px;
}
body{
    font-size: 1.7rem;
    font-family: var(--raleway);
    background-image: url(https://kshiteeshkandari.github.io/Creative-Research-Project-1/media/background.gif);
    color: var(color2);
}
ul{
    list-style: none;
    color:white;
}
img{
    width: 100%;
    display: block;

}
.container{
    max-width: 1440 px;
    margin: 0 auto;
    padding: 0 2rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.introBar{
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: inherit;
    border-bottom: 3px solid blueviolet;
}
.introBar .container{
    justify-content: space-between;
}

@font-face {
    font-family: Automation;
    src: url(https://kshiteeshkandari.github.io/Creative-Research-Project-1/font/Silkscreen-Bold.ttf);
}   
.intro-name{
    font-family: Automation;
    font-size: 3rem;
    color: white;

}
.intro-name span{
    color: blueviolet;
}
.collapsed-introBar{
    /* display: none; */
}
.introBar-show, .introBar-hide {
    font-size: 2.7rm;
    background-color: transparent;
    color: white;
    border: none;
    cursor: crosshair;
    transition: var(--trans);
}
.collapsed-introBar{
    position:fixed;
    right: 0;
    top: 5;
    width: 310;
    height:100%;
    background-color: blueviolet;
}

.intro-obj {
    margin: 2.5rem 0;
    text-align: center;
    font-family: var(--rel);

}
.obj{
    color: orangeredcd ;
    text-transform: capitalize;
    font-weight: 600;
    transition: var(--trans);
}
.obj:hover{
    color: black;
}
.Main-Menu{
    position: fixed;
    top: 50%;
    right: 42%;
}

.StartTour {
  padding: 0.6em 2em;
  font-family: Automation;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.StartTour:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.StartTour:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* About page */

.bodyP2{
    position: relative;
    background-color: black;
    height: 100%;
}

p1{
    position: absolute;
    top: 8rem;
    color: white;
    font-family:;
    font-weight:100;
   
}
.script{
    align-self: center;
}
